@import "reset.less";
@import "flexbox.less";
@import "fonts.less";
@import "effects.less";

.slide-bg-settings() {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	.inset-box-shadow(0, 0, 400px, 0, rgba(0, 0, 0, 0.9));
}

.social-buttons {
	font-size: 100%;
	width: 100%;
	text-align: center;

	.regular-page & {
		margin: 0 0 0 0;
		padding-bottom: 7.5em;
	}

	cursor: default;

	#header & {
		position: absolute;
		z-index: 20;
		left: 0;
		top: -2.7em;

		.icon {
			opacity: 0.5;
			&:hover {
				opacity: 1;
				background-color: @page-background;
			}
		}
	}

	& .bar, &.bar {
		list-style: none;

		li {
			display: inline-block;
		}

		.icon {
			font-size: 100%;
			font-family: "fontello";
			display: inline-block;
			border: none;
			.layout-common;

			margin: 0;
			padding: 0;

			width: 2em;
			height: 2em;

			text-align: center;
			vertical-align: middle;

			font-variant: normal;
			text-transform: none;

			line-height: 1em;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			background-color: @page-background;
			color: #000000;

			cursor: pointer;

			&:hover {
				background-color: @funny-buttons-background;
			}
		}
	}
}

@layout-border-radius: 2px;
@strict-buttons-background: rgba(40,90,150,0.9);
@funny-buttons-background: rgba(240,120,30,0.9);
@funny-buttons-hover-background: rgba(249, 66, 58, 0.9);
@buttons-color: #ffffff;

@page-background: rgba(255, 255, 255, 0.9);

@bg-turbine: url("/img/bg/turbine.jpg");
@bg-glasswall: url("/img/bg/glasswall.jpg");
@bg-bridge: url("/img/bg/bridge.jpg");

body {
	background-color: #ffffff;
	color: #000000;

	#font .main;
	#font .weight-normal;
	#font .style-normal;

	font-size: 110%;

	&.regular-page {
		background-image: @bg-bridge;
		background-position: center;
		.slide-bg-settings;
		height: auto;

		min-height: 100%;
	}
}

.heading() {
	#font .cond;
	#font .weight-normal;
	#font .style-normal;
}

h1, h2, h3, h4, h5, h6 {
	.heading;
}

a {
	color: @strict-buttons-background;

	&:hover {
		color: @funny-buttons-hover-background;
	}
}

.layout-common() {
	.border-radius(@layout-border-radius);
	.box-shadow-common;
	/*
	.button {
		.box-shadow-clear;
	}
	*/
}

@button-font-size: 130%;

.button-common(@font-size: @button-font-size, @background: @funny-buttons-background) {
	#font .cond;
	#font .light;

	font-size: @font-size;
	text-decoration: none;

	color: @buttons-color;
	background-color: @background;

	&:hover {
		background-color: @funny-buttons-hover-background;
	}
}

.button {
	.layout-common;
	.button-common;
	.transition;

	padding: 0.3em 0.6em 0.3em 0.3em;

	.icon {
		font-size: 200%;
	}

	&, & .icon, & .label {
		display: inline-block;
		vertical-align: middle;
	}
}

.slide {
	#flexbox .display;
	#flexbox .direction-column;
	justify-content: center;
	align-items: center;

	.slide-bg-settings;
}



#about {
	background-image: @bg-turbine;
	background-position: center 35%;
}

#about-hostname {
	background-image: @bg-glasswall;
	background-position: center;
}

#header {
	position: relative;
	text-align: center;

	&.slide {
		background-image: @bg-bridge;
		background-position: center;
	}

	&.slide {
		height: 100%;
	}

	.header {
		font-size: @button-font-size;

		z-index: 10;

		position: relative;

		.intro-page & {
			.layout-common;
		}

		left: auto;
		right: auto;

		#menu {
			ul {
				position: relative;
				list-style: none;
				#flexbox .display;
				#flexbox .direction-row;
				justify-content: center;
				align-items: center;

				background-color: @strict-buttons-background;

				a {
					.button-common(100%, none);
					display: block;
					padding: 0.5em;

					&:hover {
						background-color: @funny-buttons-hover-background;
					}
				}

				.border-radius(0 0 @layout-border-radius @layout-border-radius);
			}
		}

		.title {
			.heading;
			.border-radius(@layout-border-radius @layout-border-radius 0 0);
			font-size: 210%;
			background-color: @page-background;
			padding: 1.3em 1.5em 2em 1.5em;
			margin: 0;
		}

		.description {
			#open-sans .main;
			#font .light;
			position: absolute;
			width: 100%;
			margin-top: -3.6em;
		}

		.regular-page & {
			position: static;

			#menu {
				z-index: 11;
				position: absolute;
				width: 100%;
				.box-shadow;

				&.sticky {
					position: fixed;
					width: 100%;
					top: 0;
				}
			}
		}

		.regular-page &, &.sticky  {
			.title {
				position: relative;
				font-size: 130%;
				padding: 0.5em 1em 0.5em 1em;
				//background-color: rgba(255, 255, 255, 1);

				z-index: 12;
			}

			.description {
				opacity: 0;
				margin-top: -1.5em;
			}

			#menu {
				a {
					padding: 0.2em 0.5em;
				}
			}
		}

		&.sticky {
			width: auto;

			position: fixed;

			top: 0;
			left: 0;
			right: 0;

			.box-shadow;
		}

		.intro-page &, .intro-page & * {
			.transition(1s);
		}
	}
}

.slide .next {
	position: absolute;

	width: 100%;
	margin-top: 2em;
	left: 0;

	z-index: 1;
	text-align: center;
}

.slide .article {
	.layout;
}

#footer {
}

.header1() {
	font-size: 230%;
	margin: 0.2em 0 1em 0;
}

.header2() {
	font-size: 150%;
	margin: 1em 0 1em 0;

	#pt-sans .cond;
	#font .weight-normal;
}




.layout() {
	.layout-common;
	background-color: @page-background;
	padding: 2em 3em 1em 3em;
	max-width: 45em;

	p {
		margin: 1.5em 0 2em 0;

		&.next {
			text-align: center;
		}
	}
}

main {
	.intro-page & {
		height: 200%;

		h2 {
			.header1;
		}
	}

	.regular-page & {
		margin: 4.8em auto 1em auto;
		.layout;

		h1 {
			.header1;
			line-height: 115%;
		}

		h2 {
			.header2;
		}

		ul, ol {
			margin-left: 1em;

			li {
				margin: 1em 0;
				p {
					margin: 0;
				}
			}
		}
	}

	h1, h2 {

	}

	.slide {
		height: 50%;
	}
}

#footer {
	color: #99aabb;

	position: absolute;
	width: 100%;

	.intro-page & {
		margin-top: -5.5em;
		padding: 0;
	}

	.regular-page & {
		bottom: 0;
		padding: 0 0 1em 0;
	}

	a {
		color: #ddeeff;

		&:hover {
			color: @funny-buttons-hover-background;
		}
	}

	#font .weight-normal;

	.wrapper {
		margin: auto;
		max-width: 45em;

		p, ul {
			font-size: 60%;
		}

		ul {
			padding-left: 1em;
		}
	}
}
