[submodule "deploy"]
	path = deploy
	url = git@github.com:profalp/profalp.github.io.git
	branch = master
[submodule "content"]
	path = content
	url = git@github.com:profalp/profalp.github.io.git
	branch = content
[submodule "_includes/manifest"]
	path = _includes/manifest
	url = git@github.com:profalp/manifest.git
[submodule "_includes/charter"]
	path = _includes/charter
	url = git@github.com:profalp/charter.git
[submodule "fonts/md-webfont"]
	path = fonts/md-webfont
	url = https://github.com/Templarian/MaterialDesign-Webfont.git
