---
layout: default
permalink: /docs/charter/
title: Устав Центрального профессионального союза промышленных альпинистов Российской Федерации
title_short: Устав
description: Последняя рабочая версия документа.
---
{% capture readme_path %}charter/README.md{% endcapture %}
{% capture readme %}{% include {{readme_path}} %}{% endcapture %}

{% capture charter_path %}charter/Устав Центрального профессионального союза промышленных альпинистов Российской Федерации.md{% endcapture %}
{% capture charter %}{% include {{charter_path}} %}{% endcapture %}

{{ readme | markdownify }}
{{ charter | markdownify }}
