---
layout: default
permalink: /
is_intro: true
title_short: О профсоюзе
---

{% capture about %}{% include_relative _pages/about.md %}{% endcapture %}
{% capture about-hostname %}{% include_relative _pages/about-hostname.md %}{% endcapture %}

<div id="about" class="slide">
	<article class="article about">
		{{ about | markdownify }}
	</article>
	<div class="next">
		<!--
		<a href="#header" class="button scroll-to">
			<i class="material-icons icon">&#xE5D8;</i>
			<span class="label">Назад</span>
		</a>
		-->
		<a href="#about-hostname" class="button scroll-to">
			<i class="material-icons icon">&#xE5DB;</i>
			<span class="label">Почему у сайта такой адрес</span>
		</a>
	</div>
</div>
<div id="about-hostname" class="slide">
	<article class="article about-hostname">
		{{ about-hostname | markdownify }}
	</article>
	<div class="next">
		<!--
		<a href="#header" class="button scroll-to">
			<i class="material-icons icon">&#xE5D8;</i>
			<span class="label">Назад</span>
		</a>
		-->
		<a href="#header" class="button scroll-to">
			<i class="material-icons icon">&#xE5D8;</i>
			<span class="label">Наверх</span>
		</a>
	</div>
</div>
