---
layout: default
permalink: /
---

{% capture about %}{% include_relative _pages/about.md %}{% endcapture %}
{% capture about-hostname %}{% include_relative _pages/about-hostname.md %}{% endcapture %}

<div id="about" class="slide">
	<article class="article about">
		{{ about | markdownify }}
		<p class="next">
			<!--
			<a href="#header" class="button scrollTo">
				<i class="material-icons icon">&#xE5D8;</i>
				<span class="label">Назад</span>
			</a>
			-->
			<a href="#about-hostname" class="button scrollTo">
				<i class="material-icons icon">&#xE5DB;</i>
				<span class="label">Почему у сайта такой адрес</span>
			</a>
		</p>
	</article>
</div>
<div id="about-hostname" class="slide">
	<article class="article about-hostname">
		{{ about-hostname | markdownify }}
		<p class="next">
			<!--
			<a href="#about" class="button scrollTo">
				<i class="material-icons icon">&#xE5D8;</i>
				<span class="label">Назад</span>
			</a>
			-->
			<a href="#header" class="button scrollTo">
				<i class="material-icons icon">&#xE5D8;</i>
				<span class="label">Наверх</span>
			</a>
		</p>
	</article>
</div>
