---
layout: default
permalink: /manifest/
title: Манифест Центрального профессионального союза промышленных альпинистов Российской Федерации
title_short: Манифест
description: Общее представление о проблемах, связанных с профессией промышленного альпиниста, о путях их решения и о роли профсоюзной организации в этом процессе.
---
{% capture readme_path %}manifest/README.md{% endcapture %}
{% capture readme %}{% include {{readme_path}} %}{% endcapture %}

{% capture manifest_path %}manifest/Манифест Центрального профессионального союза промышленных альпинистов Российской Федерации.md{% endcapture %}
{% capture manifest %}{% include {{manifest_path}} %}{% endcapture %}

{{ readme | markdownify }}
{{ manifest | markdownify }}
