<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<meta charset="utf-8">
	{% capture image_src %}{{site.url}}{{site.baseurl}}/img/bg/glasswall.jpg{% endcapture %}
	{% include semantic/open-graph.html %}
	{% include semantic/twitter-cards.html %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.5/goodshare.min.js"></script>

	{% if page.is_intro %}
	<script src="{{site.baseurl}}/js/intro.js"></script>
	{% else %}
	<script src="{{site.baseurl}}/js/regular-page.js"></script>
	{% endif %}

	{% include fonts.html %}

	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

	<title>{% if page.title_short %}{{ page.title_short }} — {% endif %}{{ site.title_short }}</title>
</head>
