<header id="header"{% if page.is_intro %} class="slide intro"{% endif %}>
	<div class="header{% if page.is_intro == null %} regular{% endif %}">
		{% if page.is_intro %}
		<h1 class="title">{{ site.title_short }}</h1>
		{% else %}
		<p class="title">{{ site.title_short }}</p>
		{% endif %}
		<p class="description">{{ site.description_short }}</p>
		<nav id="menu">
			<ul>
				<li><a href="{{site.baseurl}}">Главная</a></li>
				<li><a href="{{site.baseurl}}manifest">Манифест</a></li>
				<li><a href="{{site.baseurl}}charter">Устав</a></li>
			</ul>
		</nav>
	</div>
	{% if page.is_intro %}
	<p class="next">
		<a href="#about" class="button scroll-to">
			<i class="material-icons icon">&#xE5DB;</i>
			<span class="label">Чем мы здесь занимаемся</span>
		</a>
	</p>
	{% endif %}
</header>
